td{
  border: 1px black solid;
  border spacing: 0px;
  padding: 52px;
  font-size: 3em;
  background-color: white;}
  td:hover { background-color: black!important;
    color: white!important;
}

table{
  border-spacing: 0px;
  border: 1px black solid;
  object-position: center;
}

#piano{
  margin-left: 25px;
}

#p-1{
  text-align: center;
  margin-top: 20px;
}

.container-fluid{
  padding: 0px;
}

.row{
  margin: 0px;
}

.logo{
  height: 50px;
  padding-left:10px;
}

.navbar-default{
  position:absolute;
  z-index: 10;
  width: 100%;
  background-color:#003b6f;
  border:none;
}

.navbar-fixed-top{
  background-color: #003b6f;
}

/*Footer Styles*/

#copyright{
  padding: 30px; 0px;
  background-color: #003b6f;
  color: #e6f2ff;
  margin-top:40px;
  min-height: 250px;
}

#copyright p{
  text-align: center;
  font-size: 1.5em;
}

#copyright a{
  color: #e6f2ff;
  margin:0px;
  padding:0px;
}

ul{
  list-style: none;
}

.stuff{
  padding-top: 50px;
}
